.ProductItem {
    vertical-align: middle;
    width: auto;
    height: auto;
    border: 2px solid #FFC812;
    border-radius: 20px;
    margin: 5% 5% 5% 5%;
    padding: 15px;
}

.productName {
    background-color: black;
}