/* ! ================================================ */
/* ! ================ bookingHistory ================ */
/* ! ================================================ */
.bookingHistory {
    padding-top: 65px;
    padding-bottom: 20%;
}
.bookingHistory .btnDiv {
    margin-top: 50px;
}
.bookingHistory .bookTable{
    width: 95%;
    table-layout: fixed;
    font-size: 15px;
    word-break: break-all;
    margin: 10px auto 10% auto;
}
.bookingHistory .bookDiv {
    border-top: hidden;
    /* border: 1px solid #b4b3b3; */
    box-shadow: 2px 2px 2px #b4b3b3;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 30px;
    /* padding: 0 0 0 10px; */
    /* font-size: 90%; */
    overflow: hidden;
}
.bookingHistory .bookTh {
    padding-bottom: 5px;
    border-bottom: 1px solid #b4b3b3;
}
.bookingHistory .bookTd {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
}
.bookingHistory .bookQrTd {
    border-top: hidden;
    border-bottom: hidden;
    padding-bottom: 20px;
}

.bookingHistory .trHead {
    border-top: hidden;
    border-bottom: hidden;
    background-color: #23cc88;
}
.bookingHistory .trHead2 {
    border-top: hidden;
    border-bottom: hidden;
    background-color: #ffd701;
}
.bookingHistory .thName {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 25px;
    color: #FFF;
    padding: 5px 10px 5px 10px;
}
.bookingHistory .thDate {
    /* display:inline-block; */
    text-align: right;
    font-size: small;
    font-weight: lighter;
    border-bottom: hidden;
    /* margin: 5px 7px 5px 0; */
    /* color: #aeaeae; */
    /* border: 1px solid black; */
    /* border-radius: 20px; */
    padding: 10px 10px 10px 10px;
}
.bookingHistory .bookTbody {
    /* borderBottomWidth: "2px", borderColor: "#F5F5F5" */
    border-bottom-width: 2px;
    border-color: #f5f5f5;
    /* border-bottom: hidden; */
}
.bookingHistory .bookImageDiv {
    border-radius: 20%;
    position: relative;
    margin:0 auto;
    overflow: hidden;
    /* text-align: right; */
    float: right;
    width: 80px;
    height: 80px;
    /* background-color: #FFC812; */
}
.bookingHistory .bookImgFile {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bookingHistory .noReservation {
    font-size: 30px;
}

.bookingHistory .QrBtn {
    width: 90%;
    background-color: #b4b3b3;
    border: 0px;
    margin-top: 5%;
}
.qrCodeHeader {
    border-bottom: #ffffff;
    
}
.qrCodeBody {
    margin: 0 0 10% 0;
    text-align: center;
    
}
.qrCodeBody .img{
    width: 100%;
    
}
/* ! ================================================ */
/* ! ================== DatePicker ================== */
/* ! ================================================ */
.react-datepicker{
    font-family: "LeeSeoyun" !important;
    font-size: 1rem !important;
    background-color: #fff;
    color: #000;
    border: 1px solid #aeaeae;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
    margin-top: 40px !important;
    /* width: 300px !important;
    height: 300px !important; */
  }
  .react-datepicker__header {
    text-align: center;
    background-color: #22cc88 !important;
    /* background-color: #fdcc72 !important; */
    border-bottom: 1px solid #aeaeae;
    border-top-left-radius: 0.3rem;
    padding: 8px 0;
    position: relative;
    width: 300px !important;
  }
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {
  border-color: rgb(255, 255, 255) !important;
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: "";
  display: block;
  height: 9px;
  position: absolute;
  top: 11px !important;
  width: 9px;
}
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  color: rgb(0, 0, 0);
  font-weight: bolder !important;
  font-size: 1.2rem;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #000;
  display: inline-block;
  width: 2.2rem;
  line-height: 2.2rem;
  text-align: center;
  margin: 0.166rem;
}
.react-datepicker__day--highlighted,
.react-datepicker__month-text--highlighted,
.react-datepicker__quarter-text--highlighted,
.react-datepicker__year-text--highlighted {
    border-radius: 50% !important;
  background-color: #FFD700 !important;
  color: #fff;
}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 50% !important;
  background-color: #22cc88 !important;
  /* background-color: #2E8B57 !important; */
  color: #fff;
}

.react-datepicker__day--outside-month{
    color: rgb(224, 222, 222) !important;
    /* width: 300px !important; */
}