.show-menu{
    /* width: 200px;
    height: auto; */
    /* position: absolute; */
    }
.hide-menu{
width: 376px;
height: 500px;
position: absolute;
left: -1000px;
}
.navPosition{
    left: 50%;
    position:absolute;
    width: 50%;
    height: 100%;
    z-index: 5;
    background-color: rgb(221, 210, 57);
}
.navRow{
    background-color: #FFC812;
}
.col{
    /* background-color: aquamarine; */
}