
.store {
    border: 5px solid #22cc88;
    border-radius: 30px;
    margin: 10px 10px 10px 10px;
}


.summary {
    margin: 10px;
    border-radius: 30px;
    border: 2px solid black;
    box-shadow: 1px 1px 1px 1px;
}
