/* .title{
    margin-top: 20%;
    margin-bottom: 50px;
    
}
.title h1{
    
    font-size: 400%;
    font-weight: bold;
    color: #FFC812;
    text-shadow: 2px 2px 3px rgb(148, 148, 148)
} */
.imageDiv {
    border-radius: 20%;
    position: relative;
    margin:0 auto;
    overflow: hidden;
    width: 200px;
    height: 200px;
    /* background-color: #FFC812; */
}
.imageDiv2 {
    border-radius: 20%;
    position: relative;
    margin:0 auto;
    overflow: hidden;
    width: 80px;
    height: 80px;
    /* background-color: #FFC812; */
}
.imgFile {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageButton {
    text-align: center;
    padding: 10px 10px;
    margin: 10px 5px 10px 5px;
    width: 150px;
    height: 50px;
}
.invalid-input{
    color: red;
}