.checkReservation {
    margin: 10px 10px 10px 10px ;
}

.product {
    border: 3px solid black;
    margin: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px #bbbbbb;
}

.option {
    vertical-align: middle;
}